/* 
1400px
1200px
992px
768px
576px
320px
*/

@media (max-width: 1400px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (max-width: 1200px) {
  .item:nth-of-type(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .item:nth-of-type(2) {
    grid-column: 3/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(3) {
    grid-column: 3/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(3) img {
    width: 100%;
    height: 100%;
  }
  .item:nth-of-type(4) {
    grid-column: 1/3;
    grid-row: span 1;
  }
  .item:nth-of-type(4) img {
    width: 100%;
    height: 100%;
  }
  .item:nth-of-type(5) {
    grid-column: 3 /-1;
    grid-row: span 1;
  }
  .item:nth-of-type(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-of-type(7) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-of-type(8) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .item__title {
    font-size: 20px;
  }
  .item__text {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }
  .item:nth-of-type(1) img {
    width: 100%;
    height: 100%;
  }
  .item:nth-of-type(6) {
    grid-column: 1 /3;
    grid-row: span 1;
  }
  .item:nth-of-type(6) img {
    width: 100%;
    height: 100%;
  }
  .item:nth-of-type(7) {
    grid-column: 3/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(8) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(8) {
    width: 100%;
    height: 100%;
  }
  .pic5 {
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 50px;
    font-size: 30px;
  }
  .intro__text {
    word-wrap: break-word;
    font-size: 20px;
  }
  .content__text {
    font-size: 20px;
  }
  .content__title {
    font-size: 30px;
  }
  .nav__list {
    gap: 30px;
  }
  .item:nth-of-type(1) {
    grid-column: 1/-1;
    grid-row: span 2;
  }
  .item:nth-of-type(2) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(3) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(4) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(5) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(6) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(7) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .item:nth-of-type(8) {
    grid-column: 1/-1;
    grid-row: span 1;
  }
}
